@import "../../styles/utils.scss";

.formContent {
    display: flex;
    justify-content: center;
    margin: $medianil *5 $medianil *2;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: inherit;
        label:not([for="robot"]) {
            display: flex;
            flex-direction: row;
            justify-content:end;
            align-items: center;
            margin-bottom: $medianil;
            p {
                color: white;
                font-family: $main-font;
                margin-right: $medianil;
            }
            input {
                min-width: 250px;
                padding: $medianil/2 $medianil/3;
                border-radius: 6px;
                background-color: #ff86b184;
                border: solid 1px white;
                color: white;
            }
        }
        input[type="submit"]{
            @include cta($seccondary);
            width: 100%;
        }
        label[for="robot"] {
            text-align: center;
            color: $seccondary;
            font-weight: medium;
            display: inline-block;
            margin-bottom: 20px;
            input[type="checkbox" i] {
                display: inline-block;
                border-radius: 4px;
                width: 18px;
                height: 18px;
                margin-right: 8px;
                vertical-align: middle;
                border: 2px solid $seccondary;
                background-color: white;
                appearance: none;
                cursor: pointer;

                &:checked {
                    background-color: $primary;
                }
            }
        }

        .notifications {
            padding: 0px 20px;
            text-align: center;
            margin-bottom: 20px;
            max-width: 300px;
            &.none {
                display: none;
            }
            &.error {
                display: block;
                color: #ff3131;
                border: solid 5px #ff3131;
                border-radius: 6px;
            }
            &.ok {
                display: block;
                color: #20da30;
                border: solid 5px #20da30;
                border-radius: 6px;
            }
        }
    }
}