@import "../../styles/utils.scss";

.charPanel {
    height: fit-content;
    background-color: #a59f587b;
    backdrop-filter: blur(14px);
    margin: 90px 40px;
    border: solid 2px #b89300;
    border-top: none;
    border-radius: 8px;
    @include forDesktopUp {
        width: 1170px;
        margin: auto;
    }
    .tabs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;

        button {
            padding: $medianil 0;
            background-color: transparent;
            font-family: $seccondary-font;
            color: white;
            font-size: 17px;
            flex: 1;
            text-align: center;
            border: solid 2px #b89300;
            border-top-left-radius: 8px;
            border-left:none;
            border-top-right-radius: 8px;
        }
        .tabUnactive {
            background-color:#5450247b;
            cursor: pointer;
        }
        .tabActive {
            border-bottom: none;
        }
    }
}