@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

/*
* Variables
*/
$primary: #80002d;
$seccondary: #fccb8f;

$main-font: "Roboto",  sans-serif;
$seccondary-font: 'Roboto Slab', serif;
$medianil: 16px;




/* 
* DEVICES
*/
$breackpoints: (
  PHONE_MAX_WIDTH: "767px",
  TABLET_PORTRAIT_MIN_WIDTH: "768px",
  TABLET_PORTRAIT_MAX_WIDTH: "991px",
  TABLET_LANDSCAPE_MIN_WIDTH: "992px",
  TABLET_LANDSCAPE_MAX_WIDTH: "1439px",
  DESKTOP_MIN_WIDTH: "1440px",
  DESKTOP_MAX_WIDTH: "1799px",
  BIG_DESKTOP_MIN_WIDTH: "1800px",
);

@mixin forPhoneOnly {
  @media all and (min-width: 0px) and (max-width: #{map-get($breackpoints, PHONE_MAX_WIDTH)}) {
    @content;
  }
}
@mixin forPhoneUp {
  @media all and (min-width: #{map-get($breackpoints, PHONE_MAX_WIDTH)}) {
    @content;
  }
}

@mixin forTabletOnly {
  @media all and (min-width: #{map-get($breackpoints, TABLET_PORTRAIT_MIN_WIDTH)}) and (max-width: #{map-get($breackpoints, TABLET_LANDSCAPE_MAX_WIDTH)}) {
    @content;
  }
}

@mixin forTabletUp {
  @media all and (min-width: #{map-get($breackpoints, TABLET_PORTRAIT_MIN_WIDTH)}) {
    @content;
  }
}

@mixin forDesktopOnly {
  @media all and (min-width: #{map-get($breackpoints, DESKTOP_MIN_WIDTH)}) and (max-width: #{map-get($breackpoints, DESKTOP_MAX_WIDTH)}) {
    @content;
  }
}
@mixin forDesktopUp {
  @media all and (min-width: #{map-get($breackpoints, DESKTOP_MIN_WIDTH)}) {
    @content;
  }
}

@mixin forBigDesktopUp {
  @media all and (min-width: #{map-get($breackpoints, BIG_DESKTOP_MIN_WIDTH)}) {
    @content;
  }
}


/*
* Utils & globals
*/
@mixin cta($bgcolor) {
  cursor: pointer;
  background-color:$bgcolor;
  border: none;
  font-weight: bold;
  font-family: $seccondary-font;
  border-radius: 6px;
  padding: $medianil/1.5 $medianil;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  &:hover {
      background-color: darken($bgcolor, 10%);
  }
  &:active {
      box-shadow: rgb(52, 52, 55) 0px 20px 15px -20px inset;
  }
}